@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    padding: 10px;
}

header{
    text-align: center;
    padding: 20px;
    color: white;
}


section{
    background-color: white;
    max-width: 550px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.37);
}

section div#imagem{
    margin: 10px auto;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.27);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section div p{
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

footer{
    color: white;
    text-align: center;
    padding: 10px;
}